<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace和定义的Mapper接口对应，并实现其中的方法 -->
<mapper namespace="com.ncr.powerswitch.persistIntf.EppTableMapper">
	<select id="getEppKeySetByManu" parameterType="string" resultType="com.ncr.powerswitch.dataObject.EppKey">
		SELECT * FROM PV_SYS_EPP WHERE MFGCOMPANYID = #{manu}
	</select>
	<select id="getEppKeySetByEppId" parameterType="string" resultType="com.ncr.powerswitch.dataObject.EppKey">
		SELECT * FROM PV_SYS_EPP WHERE EPPID = #{eppId}
	</select>
	<select id="getEppKeySetByManuAndEppId" resultType="com.ncr.powerswitch.dataObject.EppKey">
		SELECT * FROM PV_SYS_EPP WHERE MFGCOMPANYID = #{0} AND EPPID = #{1}
	</select>
		<select id="getAllEppKey" resultType="com.ncr.powerswitch.dataObject.EppKey">
		SELECT * FROM PV_SYS_EPP 
	</select>
	<select id="getEppKeySetByTerminalId" resultType="com.ncr.powerswitch.dataObject.EppKey">
		SELECT PV_SYS_EPP.* FROM PV_SYS_EPP INNER JOIN PV_SYS_TERMINAL ON PV_SYS_EPP.EPPID=PV_SYS_TERMINAL.EPP WHERE PV_SYS_TERMINAL.TERMINALID = #{terminalId} 
	</select>
</mapper>