<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace和定义的Mapper接口对应，并实现其中的方法 -->
<mapper namespace="com.ncr.powerswitch.persistIntf.HsmKeyTableMapper">
	<select id="getHsmKeySetByManu" parameterType="string" resultType="com.ncr.powerswitch.dataObject.HsmKey">
		SELECT * FROM HSMKEYTABLE WHEN MANU = #{manu}
	</select>
	<select id="getHsmKeySetByEpp" parameterType="string" resultType="com.ncr.powerswitch.dataObject.HsmKey">
		SELECT * FROM HSMKEYTABLE WHEN EPP = #{epp}
	</select>
	<select id="getHsmKeySetByManuAndEpp" resultType="com.ncr.powerswitch.dataObject.HsmKey">
		SELECT * FROM HSMKEYTABLE WHEN MANU = #{0} AND EPP = #{1}
	</select>
		<select id="getAllHsmKey" resultType="com.ncr.powerswitch.dataObject.HsmKey">
		SELECT * FROM HSMKEYTABLE 
	</select>
</mapper>