<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace和定义的Mapper接口对应，并实现其中的方法 -->
<mapper namespace="com.ncr.powerswitch.persistIntf.TerminalKeyTableMapper">
	<select id="getTerminalsIds" resultType="string">
		SELECT TERMINALID FROM PV_SYS_TERMINALKEY
	</select>
	<select id="getTerminalKeyByTerminalId" parameterType="string" resultType="com.ncr.powerswitch.dataObject.TerminalKey">
		SELECT * FROM PV_SYS_TERMINALKEY WHERE TERMINALID = #{terminalId}
	</select>
	<insert id="addTerminalKey" parameterType="com.ncr.powerswitch.dataObject.TerminalKey">
		INSERT INTO PV_SYS_TERMINALKEY(TERMINALID, MASTERKEY, MASTERKEYCHECK, MACKEY, MACKEYNEW,PINKEY, PINKEYNEW,
		TRACEKEY, TRACEKEYNEW, KEYINDEX, KEYINDEXNEW) VALUES (#{terminalId},#{masterKey},
		#{masterKeyCheck},#{macKey},#{macKeyNew},#{pinKey},#{pinKeyNew},#{traceKey},#{traceKeyNew},
		#{keyIndex},#{keyIndexNew})
	</insert>
	<update id="updateTerminalKey" parameterType="com.ncr.powerswitch.dataObject.TerminalKey">
		UPDATE PV_SYS_TERMINALKEY SET MASTERKEY=#{masterKey},MASTERKEYCHECK=#{masterKeyCheck},
		MACKEY=#{macKey},MACKEYNEW=#{macKeyNew},PINKEY=#{pinKey},PINKEYNEW=#{pinKeyNew},
		TRACEKEY=#{traceKey},TRACEKEYNEW=#{traceKeyNew},KEYINDEX=#{keyIndex},KEYINDEXNEW=#{keyIndexNew} 
		WHERE TERMINALID=#{terminalId}
	</update>
</mapper>